<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" routerLilnk="/">Note It</a>
  <div class=" navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/">Home</a>
      <a class="nav-item nav-link" routerLinkActive="active" routerLink="/todos">Todos</a>
      <a class="nav-item nav-link" routerLinkActive="active" routerLink="/wishlist">Wishlist</a>
    </div>
  </div>
  <div class="navbar-nav pull-right">
    <a href="#" class="nav-item nav-link">Login</a>
  </div>
</nav>
